body {
    background-image: url("img/tetris.png");
    padding-top: 1em;
    text-align: center;
    background-size: cover;
    background-repeat: space;
    
}

h2, h3, h4{
    font-family: 'Press Start 2P', monospace;
    color: white;
  }

#tetris {
    border: solid .2em white; 
    background-color: black;

    
}
#score {

    font-family: 'Press Start 2P', monospace;
    color: white;

}

#start {
    background-color: blue;
    color: white;
    padding: .5em;
    margin: 5px 0px 10px 0px;
    font-family: 'Press Start 2P', monospace;

}

#reset{
    background-color: red;
    color: white;
    padding: .5em;
    margin: 0px 0px 25px 0px;
    font-family: 'Press Start 2P', monospace;
}
