body {
    background-image: url("img/tetris.png");
    padding-top: 1em;
    text-align: center;
    background-size: cover;
    background-repeat: space;
}

h1, h2, h3, h4{
    font-family: 'Press Start 2P', monospace;
    color: white;
  }

#tetris {
    border: solid .2em white; 
    background-color: black;

    
}
#score {

    font-family: 'Press Start 2P', monospace;
    color: white;
}

#start-button {
    background-color: red;
    
}
#button-container{
    text-align: center;
}
